

.copy_right_footer{
    position : fixed;
     bottom : 0;
    width : 100%;
    text-align: center;
    background-color: blue ;
    font-size: 20px;

     box-shadow: 0 6px 8px 0 rgba(red, green, blue, alpha) (2,2,2,0.2);
}

img::after{
    border-radius: 140px;
}

